# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/

# Database
statsbot.db

# Telethon session files
*.session
*.session-journal

# Temporary files
*.xlsx
/tmp/
